* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  /* display: grid;
  place-items: center;
  height: 70vh; */
}

.box {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .image {
    /* max-height: 70vh; */
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .image {
    /* max-height: 50vh;    */
    object-fit: cover;
  }
}

.clickable-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -70px;
}

.clickable{
  width: 7rem;
  height: 50px;
  text-align: center;
}

.preparation-section{
  width: 150px !important;
}

.clickable img{
  width: 100%;
}
